<div class="article">
    <h2>The Value of Money</h2>
    <figure>
        <img src="./img/money.jpg" alt="money">
        <figcaption>Money</figcaption>
    </figure>
    <p>The value of money is determined by the demand for it, just like the value of goods and services. To measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future. For this reason, the value of money fluctuates throughout the trading day. </p>
</div>
<hr>
<div class="article">
    <h2>GMO food</h2>
    <figure>
        <img src="./img/dna.jpg" alt="DNA">
        <figcaption>DNA</figcaption>
    </figure>
    <p>A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.</p>

</div>
<hr>
<div class="article">
    <h2>The View of World in 2100</h2>
    <figure>
        <img src="./img/future.jpg" alt="future map">
        <figcaption>Future</figcaption>
    </figure>
    <p>The Internet will be in your contact lens. Imagine blinking, and then instantly going on line, accessing your home office, or home entertainment system anywhere or anytime. Computers will disappear, as will cellphones, clocks, watches, and MP3 players. Chips, costing less than a penny apiece, will be hidden by the millions in the environment. We will be able to command these hidden computers telepathically, directly via the mind. </p>
</div>
<hr>
