<h2 class="port-title">Portfolio</h2>
<div class="portfolio">
    <figure class="card">
        <img src="./img/cat.jpg" alt="cat">
        <figcaption>cat</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/flower.jpg" alt="flower and book">
        <figcaption>flower and book</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/house.jpg" alt="house">
        <figcaption>house</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/plant.jpg" alt="plant">
        <figcaption>plant</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/sign.jpg" alt="sign">
        <figcaption>sign</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/winter.jpg" alt="winter">
        <figcaption>winter</figcaption>
    </figure>
</div>
<hr>
